/*Tipografias*/
@font-face {
    font-family: 'Poppins-light';
    src: url('../fonts/poppins/Poppins-Light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/poppins/Poppins-SemiBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-Book';
    src: url('../fonts/cooper-hewitt/CooperHewitt-Book.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-light';
    src: url('../fonts/cooper-hewitt/CooperHewitt-Light.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-Bold';
    src: url('../fonts/cooper-hewitt/CooperHewitt-Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-SemiBold';
    src: url('../fonts/cooper-hewitt/CooperHewitt-Semibold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*Reset basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    font-family: 'Poppins-Regular', sans-serif;
    overflow: hidden;
}

/*Estilos para SwetAlert*/

/* Estilo para botón principal del Sweet Alert*/
.swal2-confirm {
    background-color: #48BEFF !important;
    border: none !important;
    border-radius: 10px !important;
    font-family: 'Poppins-SemiBold', sans-serif !important;
}

/* Color en hover (opcional) */
.swal2-confirm:hover {
    background-color: #36B9FF !important;
}


.container {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

/* Grupo del input */
.input-group {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    /* Alinea verticalmente */
}

/* Desactivar el color de autocompletado de Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1.5px solid #d0d0d0;
    -webkit-text-fill-color: #474747;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.input-group input {
    flex: 1;
    /* Ocupa el espacio sobrante */
    padding: 14px 45px;
    border-radius: 10px;
    border: 1.5px solid #d0d0d0;
    font-size: 16px;
    outline: none;
    transition: .2s ease;
    font-family: 'Poppins-Regular', sans-serif;
    background: #ffffff;
}

.input-group input::placeholder {
    color: #474747;
}

/* Ícono izquierdo */
.input-group .icon {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group .icon img {
    width: 24px;
}

/* Ícono para mostrar/ocultar contraseña */
.input-group .toggle-pass {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input-group .toggle-pass img {
    width: 22px;
}

/* BOTÓN */
.container button {
    width: 100%;
    padding: 14px;
    background: #48BEFF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: .2s ease;
    font-family: 'Poppins-SemiBold', sans-serif;
}

.container button:hover {
    background: #36B9FF;
}

.link_password {
    margin-top: 10px;
    font-size: 14px;
    color: #474747;
    cursor: pointer;
    font-family: 'Poppins-Regular', sans-serif;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #474747;
    font-size: 14px;
    font-family: 'Poppins-Regular', sans-serif;
}

.footer a {
    color: #474747;
    text-decoration: none;
    font-family: 'Poppins-SemiBold', sans-serif;
}