/*Tipografias*/
@font-face {
    font-family: 'Poppins-light';
    src: url('../../fonts/poppins/Poppins-Light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../fonts/poppins/Poppins-SemiBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../fonts/poppins/Poppins-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../fonts/poppins/Poppins-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-Book';
    src: url('../../fonts/cooper-hewitt/CooperHewitt-Book.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-light';
    src: url('../../fonts/cooper-hewitt/CooperHewitt-Light.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-Bold';
    src: url('../../fonts/cooper-hewitt/CooperHewitt-Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-SemiBold';
    src: url('../../fonts/cooper-hewitt/CooperHewitt-Semibold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*Reset basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modulo-ventas {
    font-family: 'Poppins-Regular';
    overflow-x: hidden;
}

.main{
    display: flex;
    flex-direction: row;
}

.div1{
    width: 70%;
    height: 100vh;
    background-color: #006eff;
}

/*Estilos header*/

.header{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #dcdfe6;
    border-radius: 8px;
    padding: 8px 12px;
    width: 20vw;
    background-color: #fff;
}

.search-icon{
    display: flex;
    align-items: center;
}

.search-container .search-icon img {
    width: 24px;
    height: 24px;
}

.search-container input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    color: #555;
}

.search-container input::placeholder {
    color: #9aa0a6;
}




.div2{
    width: 30%;
    height: 100vh;
    background-color: #ff0000;
}
